* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
}

body {
    background-color: #e9ffa5;
    color: #050709;
}

.row, .col {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: .1em; 
}

.col {
    flex-direction: column;
    width: 100%;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #638bb3;
    text-align: center;
    height: 5em;
}

h1 {
    color: white;
}

#render-this {
    margin: 6em auto;
    width: auto;
    min-width: 320px;
    /* min-height: 300px; */
    padding: 10px;
    /* border: 1px solid grey; */
}

#start-quiz img {
    width: 100%;
    height: auto;
}

#correctAnsPanel img {
    height: 100px;
    width: 90px;
}

.wrong .correct {
    font-weight: bold;
}
.wrong {
    color: red;
}
.correct {
    color: green;
}

#quiz-button {
    width: 100px;
    margin: 1.5%;
}

form {
    justify-items: flex-start;
    max-width: 350px;
    width: 40%;
}

input {
    height: 20px;
    width: 20px;
    border-radius: 50%;
}

label {
    align-self: baseline;
}

h2 {
    margin: 5px;
    font-size: 16pt;
}

#final-score-panel {
    margin: 40px;
    font: 20pt bold;
    color: #39134c;
}