* {
    height: 100%;
    margin: 0;
    padding: 0;
}

main {
    overflow: hidden;
    box-sizing: border-box;
}

.flexbox {
    display: flex;
}

.col {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

header {
    background-color: #fd59ef;
    height: 10vh;
}

h1 {
    padding-top: 2.5vh;
    color: rgb(0,54,54);
    font-size: 28pt;
    height: 5vh;
    text-align: center; 
}

#renderThis {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: black 1px solid;
    width: 600px;
    height: auto;
}

/* media views */
/* @media (max-width: 400px) {
    header {

    }
    .flexbox {
        display: block;
        flex-wrap: wrap;
    }
} */