html header {
    margin: 0;
    padding: 0;
}
header {
    position: fixed;
    width: 100%;
    background-color: #fd59ef;
}

h1 {
    color: rgb(0,54,54);
    width: 100%;
    padding-left: auto;
    padding-right: auto;
}